 
   .content{
   	display: flex;
	flex-direction:row;
	min-height: 80%;
    max-height: 100%;
	flex:1;
	width: 100%;
	height: 480px;
	margin: auto;
	border:0px solid #000;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	}
	
   .map{
	flex:2 1 auto;
	
	margin: 0 10px 0 10px;
	height: 100%;
	z-index: 0;
	}
	
   
   	
	.filtercats{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	}
	
			
	.checkboxes{
	margin-left:50%;
	}
	
	.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;*/ 
	text-align: right;
	background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
	max-width:230px;
	}
	
button{
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	/*font-family:'Roboto',sans-serif;*/
	/*font-weight:300;*/
	color:#000000;
	text-align:center;
	transition: all 0.2s;
}

button:hover{
	color:#FFFFFF;	
	background-color:#000000;
	border:0.1em solid #000000;
}
.telechargement	{
	display:flex;
	flex-direction:row;
	
	justify-content:start;
	margin: 5px 10px 5px 10px;
	
	
}
.telechargement > p ,.telechargement > button{
	font: 8px/10px Arial, Helvetica, sans-serif;
	font-size:x-small;
	margin-right:1em;
}

	.panneau{
	
	flex: 0 0 auto;
	height: 97%;
	/*margin-left: auto;*/
	padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;*/ 
	text-align: right;
	background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    /*border-radius: 5px;*/
	/*max-width:25%;*/
	justify-content: space-between;
	}
	
	.info h4,.panneau h4 {
    margin: 0 0 5px;
    color: #777;
	}
	
	.legend {
    line-height: 18px;
    color: #555;
	}
	
	.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
	}


	/*icones des initiatives*/
	.map-label {
	position: absolute;
	bottom: 0;left:50%;
	display: flex;
	flex-direction: column;
	text-align: center;
	 
	
	}

	.legend-label-cont{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	position: relative;
	bottom: 0;right: -23%;
	justify-content:space-between;
	padding:0%;
	max-width:230px;
	
	}

	.legend-label{
	margin:1%;
	display: flex;
	flex-direction: column;
	text-align: center;
	}

.iconerang1 > .map-label-content{height: 12px;
  width:12px;left:-50%;padding: .167rem .33rem .25rem .167rem;border-width: .25rem;font-size: 8px;}
.iconerang2 > .map-label-content{height: 20px;
  width:20px;left: -50%;padding: .167rem .125rem 0 .125rem;border-width: .45rem;font-size: 13px;}

.map-label-content {
  order: 1;
  position: relative; 
  
  
  left:-50%;
  
  background-color: #fff;
  border-radius: 5rem;
  
  border-width: .25rem;
  
  border-style: solid;
  border-color: #444;
  /*padding: 2px 4px 3px 2px;*/
  padding: .167rem .33rem .25rem .167rem; /* pour taille 12*/
  /*padding: .125rem .125rem 0 .125rem;/*pourt taille16*/
  /*padding: 3px;*/
  /*white-space: wrap;*/
  max-width:100px;
  
  height: 12px;
  width:12px;
  /*height: 16px;
  width:16px;*/
  
  /*box-shadow: 6px 10px 6px 0px rgba(0, 0, 0,.5);*/
  box-shadow: .5rem .83rem .5rem 0 rgba(0, 0, 0,.5);
  background-clip: border-box;
  line-height: .83rem;
  text-align:center;
  vertical-align:center;
  font-size: 10px;
  font-smooth: always;
  /*font-weight:bolder;*/
  font-variant-caps: all-small-caps;
  }

/*pointe de flèche*/
.iconerang1 > .map-label-arrow {border-width: 15px 6px 0 6px;margin-top:-2px;margin-left: -.4rem;}
.iconerang2 > .map-label-arrow {border-width: 20px 8px 0 8px;margin-top:-4px;margin-left: -.5rem;}

.map-label-arrow {
  order: 2;
  width: 0px; height: 0px; left:50%;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
  
  border-width: 15px 6px 0 6px;
  /*border-width: 20px 8px 0 8px;*/
  
  margin-left: -.4rem;
  margin-top:-2px;
  z-index:100;
  
 
}

/*class en fonction de typecss*/
.lieu-echange > .map-label-content{
  border-color: #b30000;
  color: #b30000;
}
.lieu-echange > .map-label-arrow{
  border-top-color: #b30000;
  /*color: #b30000;*/
  }
.lieu-echange-color-legend{
    color: #b30000;
}


.atelier-part > .map-label-content {
  border-color: #999900;
  color: #999900;
}
.atelier-part > .map-label-arrow {
  border-top-color: #999900;
  /*color: #999900;*/
}
.atelier-part-color-legend{
    color: #999900;
}

.prototype-archi > .map-label-content {
  border-color: #ff9900;
  color:#ff9900;
}
.prototype-archi > .map-label-arrow {
  border-top-color: #ff9900;
  /*color:#ff9900;*/
}
.prototype-archi-color-legend{
    color: #ff9900;
}


.patrimoine> .map-label-content{
	border-color: #873600;
  color:#873600;
}
.patrimoine> .map-label-arrow{
	border-top-color: #873600;
  /*color:#873600;*/
}
.patrimoine-color-legend{
    color: #873600;
}

.reseau>.map-label-content{
  border-color: #008b99;
  color: #008b99;
}
.reseau> .map-label-arrow {
  border-top-color: #008b99;
  /*color: #008b99;*/
  }
.reseau-color-legend{
    color: #008b99;
}
  
.med-paysage>.map-label-content{
  border-color:  #996d00;
  color:  #996d00;
}
.med-paysage> .map-label-arrow {
  border-top-color: #996d00;
  /*color: #996d00;*/
  }
.med-paysage-color-legend{
    color: #996d00;
}  


/*class en fonction de typecss pour les lieux clés*/
/*pour le conseil dep*/
.LIP > .map-label-content{
  border-color: #ee600a;
  color: #ee600a;
}
.LIP > .map-label-arrow{
  border-top-color: #ee600a;
  /*color: #ee600a;*/
  }

/*pour le pays de combraille en marche*/ 
.LIP-color-legend{
    color: #ee600a;
}

.L > .map-label-content,.DPP > .map-label-content{
  border-color: #996d00;
  color: #996d00;
}
.L > .map-label-arrow,.DPP > .map-label-arrow{
  border-top-color: #996d00;
  /*color: #996d00;*/
  }
  
.L-color-legend,
.DPP-color-legend{
    color: #996d00;
}

.alur > .map-label-content{
  border-color: #4ea547;
  color: #4ea547;
}

.alur > .map-label-arrow{
  border-top-color: #4ea547;
  /*color: #4ea547;*/
  }
  
 .alur-color-legend{
    color: #4ea547;
}


/*pour les lieux hybrides*/
.TL > .map-label-content{
  border-color: #ca0151;
  color: #ca0151;
}
.TL > .map-label-arrow{
  border-top-color: #ca0151;
  /*color: #ca0151;*/
  }
.TL-color-legend{
    color: #ca0151;
}

.B > .map-label-content{
  border-color: #d6df22;
  color: #d6df22;
}
.B > .map-label-arrow{
  border-top-color: #d6df22;
  /*color: #d6df22;*/
  }
.B-color-legend{
    color: #d6df22;
}

.R > .map-label-content{
  border-color: #608b87;
  color: #608b87;
}
.R > .map-label-arrow{
  border-top-color: #608b87;
  /*color: #608b87;*/
  }
.R-color-legend{
    color: #608b87;
}

.PE > .map-label-content{
  border-color: #29235c;
  color: #29235c;
}
.PE > .map-label-arrow{
  border-top-color: #29235c;
  /*color: #29235c;*/
  }
.PE-color-legend{
    color: #29235c;
}

.LH > .map-label-content{
  border-color: #ee600a;
  color: #ee600a;
}
.LH > .map-label-arrow{
  border-top-color: #ee600a;
  /*color: #ee600a;*/
  }
.LH-color-legend{
    color: #ee600a;
}


  
.legend-init{
margin:6px 0;
font-size: 14px;
font-weight: bold;	

}
  
.mycluster{
	display:flex;
	
  background-clip: padding-box;
  background-color: rgba(65,105,225, .9);
  border: 3px solid rgba(65,105,225, .6);
 text-align: center;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 5rem;
 
  
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0,.5);
  
}
  